html body {
  margin: 0px;
  padding: 0px;
}
.header {
  height: 70vh;
  background-color: blanchedalmond;
  margin: 0px;
  padding: 7vh;
}
#add-movie-btn {
  margin-top: 2vh;
}
.input-box {
}
.bold-text {
  font-weight: bold;
}
